<!doctype html>
<html ng-app>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <meta charset="utf-8">
   <meta http-equiv="Content-Type" content="text/html">
   <title>Github API</title>
</head>

<body ng-controller="GitCtrl">
<div id="w">
   <div class="container">
      <h1>Github API</h1>
   
      <p>Enter Github username and click the button to display profile info.</p>
	  <div class="col-sm-222">
      <input type="text" class="form-control" id="ghusername" ng-model="url" placeholder="Github username...">
      </div>
	  </br>
	  <div class="col-sm-offset-0 col-sm-24">
	  <a href="#" class="btn btn-success" id="ghsubmitbtn" ng-click="getGitInfo()">Get Data</a>
	  </div>
      </br>
	  </br>
	  <div id="ghapidata" class="clearfix"></div>

   </div>

   <div ng-show="userNotFound" class="container">
      <h2>No User Info Found</h2>
   </div>
   
   <div ng-show="loaded" class="container">

      
      <div class="repolist clearfix">
         <p ng-hide="issuesFound">No openIssues</p>
   
         <div ng-show="issuesFound">
            <p><strong>Open Issues: {{repos.open_issues_count - pullNumber}}</strong></p>
			
			<p><strong>Open Issues in Last 24 Hours : {{issuesNumber - yesterdayPullCounts}}</strong></p>
			
			<p><strong>Open Issues in between 24 Hours and a week : {{issuesNumber2 - issuesNumber - weekPullCounts}}</strong></p>
			
			<p><strong>Open Issues before a week: {{repos.open_issues_count - issuesNumber2 - restPullCounts}}</strong></p>
			
         </div>
      </div>
   </div>
   
</div>

<script>
   function GitCtrl($scope, $http) 
   {
      $scope.getGitInfo = function () 
      {
        $scope.userNotFound = false;
        $scope.loaded = false;
        //To get the username and reponame
		var splitted = $scope.url.split('/');
		var n1 = splitted.indexOf("github.com");
		//username should be the next of it and reponame should be the next to next
		$scope.username = splitted[n1 + 1];
		$scope.reponame = splitted[n1 + 2];

		//Now we have to set two dates one is for yesterday and other is for a week ago
		//Yesterday
		var date = new Date();
		date.setDate(date.getDate()-1);
		$scope.yesterday = date.toISOString();

		//weekago
		var date2 = new Date();
		date2.setDate(date.getDate()-7);
		$scope.weekAgo = date2.toISOString();
   
   		//Basic
        $http.get("https://api.github.com/users/" + $scope.username)
        .success(function (data) 
        {
            if (data.name == "") data.name = data.login;
            $scope.user = data;
            $scope.loaded = true;
        })
        .error(function () 
        {
            $scope.userNotFound = true;
        });

        //Count issues in the last 24 hrs
		$http.get("https://api.github.com/repos/" + $scope.username + "/" + $scope.reponame + "/issues?page=1&per_page=100&since=" + $scope.yesterday)
		.success(function(data)
		{
			$scope.issues = data;
			$scope.issuesNumber = Object.keys($scope.issues).length;

		});

		//count issues in the last 1 week
		$http.get("https://api.github.com/repos/" + $scope.username + "/" + $scope.reponame + "/issues?page=1&per_page=100&since=" + $scope.weekAgo)
		.success(function(data)
		{
			$scope.issues = data;
			$scope.issuesNumber2 = Object.keys($scope.issues).length;
		});

		//counting pull count according to the date they are created at
		$http.get("https://api.github.com/repos/" + $scope.username + "/" + $scope.reponame + "/pulls?page=1&per_page=100")
		.success(function(data)
		{
			$scope.issues2 = data;
			$scope.pullNumber = Object.keys($scope.issues2).length;
			var yester = new Date();
			yester.setDate(date.getDate()-1);
			yester = yester-0;
			var weeki = new Date();
			weeki.setDate(date.getDate() - 7);
			weeki = weeki-0;
	  
			var yesterdayPullCount=0,weekPullCount=0,restPullCount=0;
			//Loop over the entire json to increment our counters respectively
			for(var i=0;i<$scope.pullNumber;i++)
			{
				if( Date.parse(data[i].created_at) > yester) yesterdayPullCount++;
				else if( Date.parse(data[i].created_at) > weeki && Date.parse(data[i].created_at) <= yester) weekPullCount++;
				else if(Date.parse(data[i].created_at) <= weeki) restPullCount++;
			}
			$scope.yesterdayPullCounts = yesterdayPullCount;
			$scope.weekPullCounts = weekPullCount;
			$scope.restPullCounts = restPullCount;
		});
   
		//Total issues
		$http.get("https://api.github.com/repos/" + $scope.username + "/" + $scope.reponame)
		.success(function (data) 
		{
			$scope.repos = data;
			$scope.issuesFound = $scope.repos.open_issues_count > 0 ;
		});
    }
   }

</script>
</body>
</html>
